In [8]:
import pandas as pd
# Creating a simple Series
data = [10, 20, 30, 40]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
dtype: int64

In [10]:
# Default Index
import pandas as pd
series = pd.Series([10, 20, 30])
print(series.index)
# Output: RangeIndex(start=0, stop=3, step=1)
# User Defined:
series = pd.Series([10, 20, 30],index=['a','b','c'])
print(series)
# Output:
# a 10
# b 20
# c 30
#datestime index
dates = pd.date_range('2023-01-01', periods=3)
series = pd.Series([10, 20, 30], index=dates)
print(series)
# Output:
# 2023-01-01 10
# 2023-01-02 20
# 2023-01-03 30

RangeIndex(start=0, stop=3, step=1)
a    10
b    20
c    30
dtype: int64
2023-01-01    10
2023-01-02    20
2023-01-03    30
Freq: D, dtype: int64

In [12]:
#Access
print(series.index)
# Set or Reset Index
series.index = ['x', 'y', 'z'] # Series
# For DataFrame
df = pd.DataFrame({'A': [1, 2]}, index=['row1', 'row2'])
df.reset_index(inplace=True)
# Converts the index into a column

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03'], dtype='datetime64[ns]', freq='D')

In [15]:
#Transforming in-built data structures-DataFrame
#Style-1
import pandas as pd
pd.DataFrame({'Bob': ['I liked it.','It was awful'], 'Sue': ['Pretty good.', 'Bland.']})
#Style-2
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']},

index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [28]:
#Importing Data from file
import pandas as pd
# path to your dataset must be given to built in read_csv("Your path") function.
dataset = pd.read_csv("output.csv")
dataset.head()
dataset.tail()
dataset.info()
# Run the above code and observe the output.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   City    3 non-null      object
 2   age     3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [23]:
#Transforming in-built data structures-DataFrame
#Style-1
import pandas as pd
pd.DataFrame({'Bob': ['I liked it.','It was awful'], 'Sue': ['Pretty good.','Bland.']})
#Style-2
pd.DataFrame({'Bob': ['I liked it.','It was awful'], 'Sue': ['Pretty good.','Bland.']}, index=['Product A', 'Product B'])

                    Bob           Sue
Product A   I liked it.  Pretty good.
Product B  It was awful        Bland.

In [27]:
import pandas as pd

# Create a dictionary with data
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'City': ['New York', 'San Francisco', 'Los Angeles'],
        'age':['23', '34', '32']}

# Create a DataFrame
df = pd.DataFrame(data)

# Write the DataFrame to a CSV file
df.to_csv('output.csv', index=False)

# Confirm the operation
print("Data written to output.csv")

Data written to output.csv

In [29]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}
df = pd.DataFrame(data)

# View the first two rows
print(df.head(2))

# View the last row
print(df.tail(1))

# DataFrame information
print(df.info())

# Summary statistics
print(df.describe())

# Check dimensions of the DataFrame
print(f"The DataFrame has {df.shape[0]} rows and {df.shape[1]} columns.")

# Access the 'Age' column
print(df['Age'])

# Select rows by numerical index
print(df.iloc[0])  # First row

# Select rows by condition
print(df.loc[df['Age'] > 30])  # Rows where Age > 30

    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000
      Name  Age  Salary
2  Charlie   35   70000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes
None
        Age   Salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
25%    27.5  55000.0
50%    30.0  60000.0
75%    32.5  65000.0
max    35.0  70000.0
The DataFrame has 3 rows and 3 columns.
0    25
1    30
2    35
Name: Age, dtype: int64
Name      Alice
Age          25
Salary    50000
Name: 0, dtype: object
      Name  Age  Salary
2  Charlie   35   70000

In [32]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, None],
    'Salary': [50000, 60000, 55000]
}
df = pd.DataFrame(data)

# Check info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     2 non-null      float64
 2   Salary  3 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 204.0+ bytes

In [33]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, None],
    'Salary': [50000, 60000, 55000]
}
df = pd.DataFrame(data)

# Check summary statistics
print(df.describe())  # Generate descriptive statistics

             Age   Salary
count   2.000000      3.0
mean   27.500000  55000.0
std     3.535534   5000.0
min    25.000000  50000.0
25%    26.250000  52500.0
50%    27.500000  55000.0
75%    28.750000  57500.0
max    30.000000  60000.0

In [34]:
import pandas as pd

# Create DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})

# Filter rows where Age > 28
filtered_rows = df[df['Age'] > 28]
print(filtered_rows)

# Select Specific Columns
# Select only 'Name' and 'Salary' columns
selected_columns = df[['Name', 'Salary']]
print(selected_columns)

      Name  Age  Salary
1      Bob   30   60000
2  Charlie   35   70000
      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   70000

In [35]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})

# Drop the 'Salary' column
df_without_salary = df.drop(columns=['Salary'])
print("DataFrame without 'Salary' column:")
print(df_without_salary)

# Drop the row with index 1 (Bob)
df_without_row = df.drop(index=1)
print("\nDataFrame without row index 1 (Bob):")
print(df_without_row)

# Add a new column for Bonus
df['Bonus'] = df['Salary'] * 0.1
print("\nDataFrame with 'Bonus' column:")
print(df)

DataFrame without 'Salary' column:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

DataFrame without row index 1 (Bob):
      Name  Age  Salary
0    Alice   25   50000
2  Charlie   35   70000

DataFrame with 'Bonus' column:
      Name  Age  Salary   Bonus
0    Alice   25   50000  5000.0
1      Bob   30   60000  6000.0
2  Charlie   35   70000  7000.0

In [40]:
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np

# Load the Iris dataset
iris = load_iris()
iris_df = pd.DataFrame(data=np.c_[iris['data'], iris['target']], columns=iris['feature_names'] + ['target'])

# Introduce missing values randomly
np.random.seed(42)  # For reproducibility
mask = np.random.rand(*iris_df.shape) < 0.1  # 10%
iris_df[mask] = np.nan

# Print the count of missing values in each column
print("Missing Values in Iris Dataset:")
print(iris_df.isnull().sum())

Missing Values in Iris Dataset:
sepal length (cm)    15
sepal width (cm)     15
petal length (cm)    19
petal width (cm)     15
target               19
dtype: int64

In [42]:
# Filling missing values with forward fill (ffill), mean, median, and 0
iris_df_ffill = iris_df.ffill()
iris_df_mean = iris_df.fillna(iris_df.mean())
iris_df_median = iris_df.fillna(iris_df.median())

In [43]:
iris_df_zero = iris_df.fillna(0)
# Expand iris_df with filled columns
iris_df_expanded = pd.concat([iris_df, iris_df_ffill.add_suffix('_ffill'), iris_df_mean.add_suffix('_mean'),iris_df_median.add_suffix('_median'),iris_df_zero.add_suffix('_zero')], axis=1)
# Display the head of the expanded DataFrame
print("\nDataset after Filling Missing Values:")
print(iris_df_expanded.head())

Dataset after Filling Missing Values:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               NaN                1.4               0.2
2                NaN               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target  sepal length (cm)_ffill  sepal width (cm)_ffill  \
0     0.0                      5.1                     3.5
1     0.0                      4.9                     3.5
2     0.0                      4.9                     3.2
3     0.0                      4.6                     3.1
4     0.0                      5.0                     3.6

   petal length (cm)_ffill  petal width (cm)_ffill  target_ffill  ...  \
0                      1.4                     0.2           0.0  ...
1                      1.4                     0.2           0.0  ...
2                      1.3                     0.2           0.0  ...
3                      1.5                     0.2           0.0  ...
4                      1.4                     0.2           0.0  ...

   sepal length (cm)_median  sepal width (cm)_median  \
0                       5.1                      3.5
1                       4.9                      3.0
2                       5.8                      3.2
3                       4.6                      3.1
4                       5.0                      3.6

   petal length (cm)_median  petal width (cm)_median  target_median  \
0                       1.4                      0.2            0.0
1                       1.4                      0.2            0.0
2                       1.3                      0.2            0.0
3                       1.5                      0.2            0.0
4                       1.4                      0.2            0.0

   sepal length (cm)_zero  sepal width (cm)_zero  petal length (cm)_zero  \
0                     5.1                    3.5                     1.4
1                     4.9                    0.0                     1.4
2                     0.0                    3.2                     1.3
3                     4.6                    3.1                     1.5
4                     5.0                    3.6                     1.4

   petal width (cm)_zero  target_zero
0                    0.2          0.0
1                    0.2          0.0
2                    0.2          0.0
3                    0.2          0.0
4                    0.2          0.0

[5 rows x 25 columns]

In [44]:
import pandas as pd

#--------------------------------------------------------------------
# -----------Trimming Whitespaces:----------------------------------
#--------------------------------------------------------------------
df = pd.DataFrame({'Name': ['Alice ', 'Bob '], 'Age': [25, 30]})
df['Name'] = df['Name'].str.strip()
print("After trimming whitespaces:")
print(df)
print("\n")

#--------------------------------------------------------------------
# -------------Changing Datatype:-------------------------------------
#--------------------------------------------------------------------
df = pd.DataFrame({'Age': ['25', '30', '35']})
# Change 'Age' column data type to integer
df['Age'] = df['Age'].astype(int)
print("After changing datatype:")
print(df)
print("\n")

#--------------------------------------------------------------------
# -------------Renaming Columns:-------------------------------------
#--------------------------------------------------------------------
# Rename columns
df = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
df = df.rename(columns={'Name': 'Full Name', 'Age': 'Years'})
print("After renaming columns:")
print(df)
print("\n")

#--------------------------------------------------------------------
# --------------Removing Duplicates:-----------------------------------
#--------------------------------------------------------------------
# Remove duplicate rows
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Alice'], 'Age': [25, 30, 25]})
df = df.drop_duplicates()
print("After removing duplicates:")
print(df)

After trimming whitespaces:
    Name  Age
0  Alice   25
1    Bob   30


After changing datatype:
   Age
0   25
1   30
2   35


After renaming columns:
  Full Name  Years
0     Alice     25
1       Bob     30


After removing duplicates:
    Name  Age
0  Alice   25
1    Bob   30

In [45]:
import pandas as pd

#------------------Pivoting----------------------------------------
# Sample DataFrame
data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
    'City': ['Kathmandu', 'Pokhara', 'Kathmandu', 'Pokhara'],
    'Temperature': [15, 18, 16, 19]
}
df = pd.DataFrame(data)

# Pivot: Reshape data to show cities as columns
pivoted_df = df.pivot(index='Date', columns='City', values='Temperature')
print("Pivoted DataFrame:")
print(pivoted_df)
print("\n")

#---------------------------------------------------------------------------
#---------------------------Melting-----------------------------------------
#---------------------------------------------------------------------------
# Melt: Convert wide data back to long format
melted_df = pd.melt(pivoted_df.reset_index(), id_vars=['Date'],
                    var_name='City', value_name='Temperature')

print("Melted DataFrame:")
print(melted_df)

Pivoted DataFrame:
City        Kathmandu  Pokhara
Date
2024-01-01         15       18
2024-01-02         16       19


Melted DataFrame:
         Date       City  Temperature
0  2024-01-01  Kathmandu           15
1  2024-01-02  Kathmandu           16
2  2024-01-01    Pokhara           18
3  2024-01-02    Pokhara           19

In [46]:
import pandas as pd
from sklearn.datasets import load_iris

# Load the Iris dataset
iris = load_iris()
iris_df = pd.DataFrame(data=iris['data'], columns=iris['feature_names'])

# Min-Max Scaling using Pandas
iris_minmax_scaled = (iris_df - iris_df.min()) / (iris_df.max() - iris_df.min())

print("Original Iris DataFrame:")
print(iris_df.head())
print("\nMin-Max Scaled Iris DataFrame:")
print(iris_minmax_scaled.head())  # Display scaled data

Original Iris DataFrame:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

Min-Max Scaled Iris DataFrame:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667

In [47]:
import pandas as pd

# Sample DataFrame with ordinal categories
df = pd.DataFrame({'Category': ['Low', 'Medium', 'High', 'Low', 'High']})

# Ordinal encoding using map
ordinal_mapping = {'Low': 1, 'Medium': 2, 'High': 3}
df['Category_Ordinal'] = df['Category'].map(ordinal_mapping)

# Print the DataFrame
print(df)

  Category  Category_Ordinal
0      Low                 1
1   Medium                 2
2     High                 3
3      Low                 1
4     High                 3

In [48]:
import pandas as pd

# Sample DataFrame
df_municipalities = pd.DataFrame({
    'Municipality': ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Madhyapur Thimi', 'Kirtipur']
})

# One-Hot Encoding
one_hot_encoding = pd.get_dummies(df_municipalities['Municipality'], prefix='Municipality')

# Concatenate the original DataFrame with the one-hot encoded DataFrame
df_encoded = pd.concat([df_municipalities, one_hot_encoding], axis=1)

# Display the result
print(df_encoded)

      Municipality  Municipality_Bhaktapur  Municipality_Kathmandu  \
0        Kathmandu                   False                    True
1        Bhaktapur                    True                   False
2         Lalitpur                   False                   False
3  Madhyapur Thimi                   False                   False
4         Kirtipur                   False                   False

   Municipality_Kirtipur  Municipality_Lalitpur  Municipality_Madhyapur Thimi
0                  False                  False                         False
1                  False                  False                         False
2                  False                   True                         False
3                  False                  False                          True
4                   True                  False                         False

In [49]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Row-wise concatenation
combined_rows = pd.concat([df1, df2], axis=0)
print("Row-wise concatenation:")
print(combined_rows)

# Column-wise concatenation
combined_cols = pd.concat([df1, df2], axis=1)
print("\nColumn-wise concatenation:")
print(combined_cols)

Row-wise concatenation:
   A  B
0  1  3
1  2  4
0  5  7
1  6  8

Column-wise concatenation:
   A  B  A  B
0  1  3  5  7
1  2  4  6  8

In [50]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Score': [85, 90, 88]})

# Inner join
inner_merged = pd.merge(df1, df2, on='ID', how='inner')
print("Inner Join:")
print(inner_merged)

# Left join
left_merged = pd.merge(df1, df2, on='ID', how='left')
print("\nLeft Join:")
print(left_merged)

# Outer join
outer_merged = pd.merge(df1, df2, on='ID', how='outer')
print("\nOuter Join:")
print(outer_merged)

Inner Join:
   ID     Name  Score
0   2      Bob     85
1   3  Charlie     90

Left Join:
   ID     Name  Score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0

Outer Join:
   ID     Name  Score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0
3   4      NaN   88.0

In [2]:
#1. Load the provided dataset and import in pandas DataFrame.
import pandas as pd
df = pd.read_csv("output.csv")
print(df.head())

      Name           City  age
0    Alice       New York   23
1      Bob  San Francisco   34
2  Charlie    Los Angeles   32

In [4]:
#2. Check info of the DataFrame and identify following:
#(a) columns with dtypes=object
#(b) unique values of those columns.
#(c) check for the total number of null values in each column.
import pandas as pd

df = pd.read_csv("output.csv")

df_info = df.info()
print(df_info)

object_columns = df.select_dtypes(include = ['object']).columns
print("\nColumns with dtype = object and their unique values:")
for column in object_columns:
    unique_values = df[column].unique()
    print(f"Column = {column}")
    print(f"Unique values = {unique_values}\n")

null_values = df.isnull().sum()
print("Total number of null values in each column")
print(null_values)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   City    3 non-null      object
 2   age     3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None

Columns with dtype = object and their unique values:
Column = Name
Unique values = ['Alice' 'Bob' 'Charlie']

Column = City
Unique values = ['New York' 'San Francisco' 'Los Angeles']

Total number of null values in each column
Name    0
City    0
age     0
dtype: int64

In [3]:
#3. Drop all the columns with dtypes object and store in new DataFrame, also write the DataFrame in ”.csv” with name ”banknumericdata.csv”
import pandas as pd

df = pd.read_csv('bank.csv')
df_numeric = df.select_dtypes(exclude=['object'])
df_numeric.to_csv('banknumericdata.csv', index=False)
print("Columns with dtype object have been dropped and the new DataFrame is saved as 'banknumericdata.csv'")

Columns with dtype object have been dropped and the new DataFrame is saved as 'banknumericdata.csv'

In [4]:
#4. Read ”banknumericdata.csv” and Find the summary statistics.
df_numeric = pd.read_csv('banknumericdata.csv')

#Find the summary statistics
summary_statistics = df_numeric.describe()
print(summary_statistics)

             age
count   3.000000
mean   29.666667
std     5.859465
min    23.000000
25%    27.500000
50%    32.000000
75%    33.000000
max    34.000000

In [7]:
#Problem 2 - Data Imputations:
#Complete all the following Task:
#• Dataset for the Task: "medical_student.csv"
#1. Load the provided dataset and import in pandas DataFrame.
import pandas as pd

df = pd.read_csv("medical_students_dataset.csv")

#2. Check info of the DataFrame and identify column with missing (null) values.
# Check the info of the DataFrame
df.info()

# Identify columns with missing (null) values
missing_values = df.isnull().sum()
print("Columns with missing values:\n", missing_values[missing_values > 0])

#3. For the column with missing values fill the values using various techniques we discussed above. Try to explain why did you select the particular methods for particular column.
# Fill missing values in numerical column 'Age' with the median
if 'Age' in df.columns:
    df['Age'].fillna(df['Age'].median(), inplace=True)

# Fill missing values in categorical column 'Gender' with the mode
if 'Gender' in df.columns:
    df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)

# Explanation:
# - Numerical columns (like 'Age') are filled with the median to avoid the influence of outliers.
# - Categorical columns (like 'Gender') are filled with the mode, which is the most frequent value.

#4. Check for any duplicate values present in Dataset and do necessary to manage the duplicate items.
#{Hint: dataset.duplicated.sum()}
# Check for duplicate values
duplicate_count = df.duplicated().sum()
print("Number of duplicate rows: ", duplicate_count)

# Remove duplicate rows
df.drop_duplicates(inplace=True)
print("Duplicates have been removed.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Student ID      180000 non-null  float64
 1   Age             180000 non-null  float64
 2   Gender          180000 non-null  object
 3   Height          180000 non-null  float64
 4   Weight          180000 non-null  float64
 5   Blood Type      180000 non-null  object
 6   BMI             180000 non-null  float64
 7   Temperature     180000 non-null  float64
 8   Heart Rate      180000 non-null  float64
 9   Blood Pressure  180000 non-null  float64
 10  Cholesterol     180000 non-null  float64
 11  Diabetes        180000 non-null  object
 12  Smoking         180000 non-null  object
dtypes: float64(9), object(4)
memory usage: 19.8+ MB
Columns with missing values:
 Student ID        20000
Age               20000
Gender            20000
Height            20000
Weight            20000
Blood Type        20000
BMI               20000
Temperature       20000
Heart Rate        20000
Blood Pressure    20000
Cholesterol       20000
Diabetes          20000
Smoking           20000
dtype: int64

C:\Users\LOQ\AppData\Local\Temp\ipykernel_5832\1386568422.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
C:\Users\LOQ\AppData\Local\Temp\ipykernel_5832\1386568422.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)

Number of duplicate rows:  8611
Duplicates have been removed.

In [9]:
#3.2 Exercises - Data Cleaning and Transformations with ”Titanic Dataset”:
#Dataset Used: "titanic.csv"
#Problem - 1:
#Create a DataFrame that is subsetted for the columns ’Name’, ’Pclass’, ’Sex’, ’Age’, ’Fare’, and ’Survived’.
#Retain only those rows where ’Pclass’ is equal to 1, representing first-class passengers. What is the mean,
#median, maximum value, and minimum value of the ’Fare’ column?
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv('Titanic-Dataset.csv')

# Subset the DataFrame for the specified columns
df_subset = df[['Name', 'Pclass', 'Sex', 'Age', 'Fare', 'Survived']]

# Retain only rows where Pclass is equal to 1
df_first_class = df_subset[df_subset['Pclass'] == 1]

# Calculate mean, median, maximum, and minimum values of the 'Fare' column
fare_mean = df_first_class['Fare'].mean()
fare_median = df_first_class['Fare'].median()
fare_max = df_first_class['Fare'].max()
fare_min = df_first_class['Fare'].min()

print(f"Mean Fare: {fare_mean}")
print(f"Median Fare: {fare_median}")
print(f"Maximum Fare: {fare_max}")
print(f"Minimum Fare: {fare_min}")

Mean Fare: 84.1546875
Median Fare: 60.287499999999994
Maximum Fare: 512.3292
Minimum Fare: 0.0

In [11]:
#Problem - 2:
#How many null values are contained in the ’Age’ column in your subsetted DataFrame? Once you’ve found
#this out, drop them from your DataFrame.
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv('Titanic-Dataset.csv')

# Subset the DataFrame for the specified columns
df_subset = df[['Name', 'Pclass', 'Sex', 'Age', 'Fare', 'Survived']]

# Retain only rows where Pclass is equal to 1
df_first_class = df_subset[df_subset['Pclass'] == 1]

# Count the number of null values in the 'Age' column
null_values_age = df_first_class['Age'].isnull().sum()
print(f"Number of null values in the 'Age' column: {null_values_age}")

# Drop rows with null values in the 'Age' column
df_first_class = df_first_class.dropna(subset=['Age'])

# Verify that the null values have been dropped
null_values_after_drop = df_first_class['Age'].isnull().sum()
print(f"Number of null values in the 'Age' column after dropping: {null_values_after_drop}")

Number of null values in the 'Age' column: 30
Number of null values in the 'Age' column after dropping: 0

In [ ]:
Problem - 3:

The ’Embarked’ column in the Titanic dataset contains categorical data representing the ports of embarka-
tion:

• ’C’ for Cherbourg
• ’Q’ for Queenstown
• ’S’ for Southampton
Task:
1. Use one-hot encoding to convert the ’Embarked’ column into separate binary columns (’Embarked C’,
’Embarked Q’, ’Embarked S’).
2. Add these new columns to the original DataFrame.
3. Drop the original ’Embarked’ column.
4. Print the first few rows of the modified DataFrame to verify the changes.

In [13]:
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv('Titanic-Dataset.csv')

# Perform one-hot encoding on the 'Embarked' column
df_encoded = pd.get_dummies(df['Embarked'], prefix='Embarked')

# Add the new one-hot encoded columns to the original DataFrame
df = pd.concat([df, df_encoded], axis=1)

# Drop the original 'Embarked' column
df.drop('Embarked', axis=1, inplace=True)

# Print the first few rows to verify the changes
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin  Embarked_C  Embarked_Q  Embarked_S
0      0         A/5 21171   7.2500   NaN       False       False        True
1      0          PC 17599  71.2833   C85        True       False       False
2      0  STON/O2. 3101282   7.9250   NaN       False       False        True
3      0            113803  53.1000  C123       False       False        True
4      0            373450   8.0500   NaN       False       False        True

In [14]:
#Problem - 4:
#Compare the mean survival rates (’Survived’) for the different groups in the ’Sex’ column. Draw a visual-
#ization to show how the survival distributions vary by gender.
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv('Titanic-Dataset.csv')

# Calculate mean survival rates by gender
mean_survival_by_gender = df.groupby('Sex')['Survived'].mean()
print("Mean Survival Rates by Gender:")
print(mean_survival_by_gender)

# Display the summary statistics for survival rates by gender
survival_stats_by_gender = df.groupby('Sex')['Survived'].describe()
print("\nSummary Statistics for Survival Rates by Gender:")
print(survival_stats_by_gender)

Mean Survival Rates by Gender:
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

Summary Statistics for Survival Rates by Gender:
        count      mean       std  min  25%  50%  75%  max
Sex
female  314.0  0.742038  0.438211  0.0  0.0  1.0  1.0  1.0
male    577.0  0.188908  0.391775  0.0  0.0  0.0  0.0  1.0

In [16]:
#Problem - 5:

#Draw a visualization that breaks your visualization from Exercise 3 down by the port of embarkation (’Em-
#barked’). In this instance, compare the ports ’C’ (Cherbourg), ’Q’ (Queenstown), and ’S’ (Southampton).
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv('Titanic-Dataset.csv')

# Perform one-hot encoding on the 'Embarked' column
df_encoded = pd.get_dummies(df['Embarked'], prefix='Embarked')

# Add the new one-hot encoded columns to the original DataFrame
df = pd.concat([df, df_encoded], axis=1)

# Group by 'Sex' and 'Embarked' to calculate survival rates
survival_rates = df.groupby(['Sex', 'Embarked'])['Survived'].mean()
print("Survival Rates by Gender and Port of Embarkation:")
print(survival_rates)

Survival Rates by Gender and Port of Embarkation:
Sex     Embarked
female  C           0.876712
        Q           0.750000
        S           0.689655
male    C           0.305263
        Q           0.073171
        S           0.174603
Name: Survived, dtype: float64